MY_SECRET=env_file_is_working
BOT_TOKEN=
WEB_APP_URL=


# variables explained
#MY_SECRET : just to test that environment variables got loaded
#BOT_TOKEN : bot token, you can get it from @botfather bot on telegram
#WEB_APP_URL : (optio)